body{
  background-image: url(../img/login1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 770px;
  width: 100%;
  position: absolute;

}
.formulario{
padding-top: 40px;
background: rgba(0, 0, 0, .5);
padding: 20px ;
border-radius: 10px;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
color: white;
}

.form-control{
background: rgba(0,0,0,.3);
border-style: none;
transition: 0.5s ease-in;
outline: none;
box-shadow: none;
color: azure;
}

.form-control:focus{
  background: none;
  box-shadow: none;
  outline: none;
}
.form-control::placeholder{
  color: aliceblue;
}
.ingresar{
  background: #222A3F;
  padding: 10px;
  font-size: 16px;
  font-weight: 700!important;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  transition: 0.5s ease-in;
}
.ingresar:hover{
  color: beige;
}
.olvide{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
}
.olvide:hover{
  color: cadetblue;
  text-decoration-style: none;
  text-decoration-line: none;
  cursor: pointer;
}

.registro{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  padding-right: 10px;
}
.registro:hover{
  color: cadetblue;
  text-decoration-style: none;
  text-decoration-line: none;
}

