
    <div class="container">
      <div class="row justify-content-center pt-5 mt-5 mr-1">
          <div class="col-md-4 formulario">
              <form>
                  <div class="form-group text-center pt-3">
                    <h1 class="text-light"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                      <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg></h1>
                  </div>
                   <!---Modelo de  usuario--->
                   <div class="form-group mx-sm-4 pt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-life-preserver" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M14.43 10.772l-2.788-1.115a4.015 4.015 0 0 1-1.985 1.985l1.115 2.788a7.025 7.025 0 0 0 3.658-3.658zM5.228 14.43l1.115-2.788a4.015 4.015 0 0 1-1.985-1.985L1.57 10.772a7.025 7.025 0 0 0 3.658 3.658zm9.202-9.202a7.025 7.025 0 0 0-3.658-3.658L9.657 4.358a4.015 4.015 0 0 1 1.985 1.985l2.788-1.115zm-8.087-.87L5.228 1.57A7.025 7.025 0 0 0 1.57 5.228l2.788 1.115a4.015 4.015 0 0 1 1.985-1.985zM8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm0-5a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>

                    <input  type="text" class="form-control"
                            id="txtcolor" placeholder="Ingrese el token "
                            [(ngModel)]="Token.token" [ngModelOptions]="{standalone:true}"
                            autocomplete="off"
                            >
                  </div>
                  <div  class="form-group mx-sm-4" >
                    <button   type="submit" class="btn btn-block ingresar"
                              value="Guardar" (click)="verificaElToken()">Ingresar</button
                              >
                  </div>
                  <div class="form-group mx-sm-4 text-right">
                    <span><a [routerLink]="['']" class="regresar"> Regresar Login</a></span>
                  </div>
              </form>
          </div>
      </div>
  </div>
